
:root {
    --bs-primary: #1e88e5; 
    --bs-dark: #121212; 
}

body {
    font-family: 'Tajawal', sans-serif; 
    background-color: #f7f7f7;
}

/*  Hero Section */

.hero-main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2); 
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    padding-top: 5rem;
}

/*  Car Rental  */
.hero-main h1 {
    font-size: 8vw; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*  Our Premier Services     */
.services-premium {
    background-color: var(--bs-dark);
}

.services-premium .card-service {
    background-color: #1a1a1a; 
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/*      How it works    */
.steps-list .step-num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid var(--bs-dark);
    border-radius: 50%;
    font-weight: bold;
    color: var(--bs-dark);
    flex-shrink: 0;
}

/*  App Section */
.app-section {
    background-color: #212529; 
    overflow: hidden;
}

.app-badge {
    height: 40px; 
}

/*  Navbar  */
#main-navbar {
    background-color: transparent !important;
    transition: background-color 0.3s ease;
}


.navbar-scrolled {
    background-color: var(--bs-dark) !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}