
:root {
    --bs-primary: #1e88e5; 
    --bs-dark: #121212; 
}

body {
    font-family: 'Tajawal', sans-serif; 
    background-color: #f7f7f7;
}

/*  Hero Section */

.hero-main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2); 
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    padding-top: 5rem;
}

/*  Car Rental  */
.hero-main h1 {
    font-size: 8vw; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*  Our Premier Services     */
.services-premium {
    background-color: var(--bs-dark);
}

.services-premium .card-service {
    background-color: #1a1a1a; 
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/*      How it works    */
.steps-list .step-num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid var(--bs-dark);
    border-radius: 50%;
    font-weight: bold;
    color: var(--bs-dark);
    flex-shrink: 0;
}

/*  App Section */
.app-section {
    background-color: #212529; 
    overflow: hidden;
}

.app-badge {
    height: 40px; 
}

/*  Navbar  */
/* Animation for Navbar */
.navbar {
    transition: all 0.4s ease-in-out;
}
.initial-nav {
    background-color: transparent !important; 
    backdrop-filter: blur(0px); 
    -webkit-backdrop-filter: blur(0px); 
    transition: background-color 0.4s ease-in-out, backdrop-filter 0.4s ease-in-out; 
}
/*  Dynamic Navbar Styles */
.scrolled-nav {
    background-color: rgba(18, 18, 18, 0.95) !important; 
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.scrolled-nav {
    background-color: rgba(18, 18, 18, 0.85) !important; 
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

/*  Home Page Animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 40px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.hero-main .carousel-caption {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
    animation-delay: 0.5s; 
}

.carousel-item img {
    height: 90vh; 
    width:99vw !important;
    object-fit: cover;
}

/* Force white text in profile page */


/* Fix muted text */
/* .profile-page .text-muted {
    color: rgba(0, 0, 0, 0.75) !important;
}
.profile-page h4,
.profile-page h5,
.profile-page h2 {
    color:black !important;
}
.fas p {
    color: #121212;
    font-style:'Tajawal', sans-serif;
}
.fas {
    color: #121212;
} */
